<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JWT TEST</title>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="public/js/main.js"></script>
</head>
<body>
  <form method="post" action="/subscribe">
    <input type="hidden" name="token" id="token"/>
    <input name="subscriberUrl" />
    <input type="submit" value="submit"/ >
  </form>
</body>
</html>